*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 236, 234);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    select {
        appearance: none !important;
    }
}


/* width */
::-webkit-scrollbar {
    width: 5px;
    /* display: none; */
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* to add red mandetory star in form */
.mandatory::after{
    content: "*";
    color: red;
    margin-left: 2px;

}


.bgAd{
    background-image: url("https://rukminim2.flixcart.com/www/530/740/promos/26/09/2023/6c3c5fe2-c236-4fa2-8d97-595e1e01da01.jpg?q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.shimmer-effect {
    animation: shimmer 3s;
    animation-iteration-count: infinite;
    background: linear-gradient(to right, #eef0f5 5%, #cccccc 25%, #eef0f5 35%);
    background-size: 1000px 100%;
  }
  
  @keyframes shimmer {
    from {
      background-position: -1000px 0;
    }
  
    to {
      background-position: 1000px 0;
    }
  }