*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 236, 234);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    select {
        appearance: none !important;
    }
}


/* width */
::-webkit-scrollbar {
    width: 5px;
    /* display: none; */
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}